<div id="header">
    <%= render 'title' %>
    
    <div id="main_toolbar">
        <div class="text">
            <div class="url"><%= link_to '',
            main_index_path %></div><div class="title">
            メイン画面</div>
        </div>
        
        <div class="text">
            <div class="url"><%= link_to '',
            subjects_path %></div><div class="title">
            履修科目一覧</div>
        </div>
        
        <div class="text">
            <div class="url"><%= link_to '',
            edit_user_path(getUserId) %></div><div class="title">
            時間割</div>
        </div>
        
        <div class="text">
            <div class="url"><%= link_to '',
            edit_user_path(getUserId) %></div><div class="title">
            成績照会</div>
        </div>
        
        <div class="text">
            <div class="url"><%= link_to '',
            edit_user_path(getUserId) %></div><div class="title">
            アンケート</div>
        </div>
        
        <div class="text">
            <div class="url"><%= link_to '',
            edit_user_path(getUserId) %></div><div class="title">
            就活関連</div>
        </div>
        
        <div class="text">
            <div class="url"><%= link_to '',
            edit_user_path(getUserId) %></div><div class="title">
            質問・お問い合わせ</div>
        </div>  
        
        <div class="text">
            <div class="url"><%= link_to '',
            settings_path %></div><div class="title">
            設定</div>
        </div>
    </div>
</div>