<%= form_for @user , url: {action: :create} do |f| %>
    <div id="login_main">
        <div id="login">
            <div class="title">
                近畿大学福岡キャンパス
            </div>
            
            <% if @user.errors.present? %>
                <div class="error">
                    <font color="red">エラーがあります</font>
                    <% @user.errors.full_messages.each do |msg| %>
                        <div>
                            <%= msg %>
                        </div>
                    <% end %>
                </div>
            <% end %>
            
            <div class="title_text">
                メールアドレス
            </div>
            <%= text_field_tag :email, '',  class: 'text_field' %>
            <div class="reset"></div>
            
            <div class="title_text">
                パスワード
            </div>
            <%= password_field_tag :password, '', class: 'text_field' %>
            <div class="reset"></div>
            
            <div class="submit">
                <%= submit_tag '登録', class: 'button' %>
            </div>
            
            <div class="other">
                <div>
                    <%= link_to 'すでにアカウントを持っています', root_path %>
                </div>
            </div>
        </div>
    </div>
<% end %>