<%= render template: "main/_header" %>
<div id="content">
    <% if CourseRegistration.isRegistered(params[:id], getUserId) || isTeacher %>
        <%= link_to '戻る', subject_path(params[:id]) %>
    <% else %>
        <%= link_to '戻る', courses_path %>
    <% end %>
    <div>
        <%= @sp.name %>
    </div>
    <div>
        教師: <%= User.find_by(id: @sp.teacher_id).profile.name %>
    </div>
    <div>
        <%= @sp.description %>
    </div>
    <% if !CourseRegistration.isRegistered(params[:id], getUserId) && User.isStudent(getUserId) %>
        <div>
            <%= link_to '登録する', courses_path(id: params[:id]), method: :create %>
        </div>
    <% end %>
    
    <% if Subject.isTeacherOfThis(params[:id], getUserId) %>
        <%= link_to '編集する', edit_subject_profile_path(params[:id]) %>
    <% end %>
</div>