<%= render template: "main/_header" %>
<div id="content">
    <%= link_to '戻る', subject_path(params[:id]) %>
    <% @a.each do |t| %>
        <div>
            <%= t[:title] %>
        </div>
        <table border="1">
            <tr>
                <th>
                    名前
                </th>
                <th>
                ステータス
                </th>
                <th>
                    IPアドレス
                </th>
            </tr>
            
            <% t[:time].each do |t2| %>
                <% msg = "" %>
                <% if !CourseRegistration.isRegistered(params[:id], t2.user_id) %>
                    <% next %>
                    <% msg = "(履修取り消し)" %>
                <% end %>
                <tr>
                    <td>
                        <%= "#{User.find(t2.user_id).email}#{msg}" %>
                    </td>
                    <td>
                        <%= Attend.status2str(t2.status) %>
                    </td>
                    <td>
                        <%= t2.ip %>
                    </td>
                </tr>
            <% end %>
        </table>
        <br />
    <% end %>
</div>