<%= render template: "main/_header" %>
<div id="content">
    <%= render 'bar' %>
    <div>
        <% if isTeacher %>
            <%= render 'listForStaff' %>
            <%= render 'listAllSubjects' %>
        <% else %>
            <%= render 'listRegistrationCourses' %>
        <% end %>
    </div>
</div>