<%= render template: "main/_header" %>
<div id="content">
    <div id="subject">
        <div class="title">
            <h1>
                <%= @subject.subject_profile.name %>
            </h1>
        </div>
    </div>
    <div id="notice">
        <div class="text">
            <div class="url"><%= link_to ''
            %></div><div class="title">
            出席確認のために、ここをクリックしてください</div>
        </div>
    </div>
    
    <div id="s_toolbar">
        <div class="text">
            <div class="url"><%= link_to '',
            subject_profile_path(params[:id]) %></div><div class="title">
            この講義について</div>
        </div>
        <% if isTeacher %>
            <div class="text">
                <div class="url"><%= link_to '',
                new_subject_time_path(subject_id: params[:id]) %></div><div class="title">
                回を追加</div>
            </div>
        <% end %>
        
        <div class="text">
            <div class="url"><%= link_to ''
            %></div><div class="title">
            メンバー</div>
        </div>
            
        <div class="text">
            <div class="url"><%= link_to '',
            subject_setting_path(params[:id]) %></div><div class="title">
            設定</div>
        </div>
    </div>
    
    
    <div>
        <% ti = 0 %>
        
        <% @times.each do |t| %>
            <% if Subject.isTeacherOfThis(Subject.getIdFromTime(t.id), getUserId) and ti == 0 %>
                <%= link_to '出席の確認', attend_path(Subject.getIdFromTime(t.id)) %>
            <% end %>
        
            <% ti = ti + 1 %>
            <div>
                (<%= t.id %>) 第<%= ti %>回 <%= t.title %>
            </div>
    
            
            <%= Attend.getStatus(t.id, getUserId()) %>
        <% end %>
    </div>
</div>