<%= render template: "main/_header" %>
<div id="content">
    <div id="subject">
        <div class="title">
            <h1>
                <%= @subject.subject_profile.name %>
            </h1>
        </div>
    </div>
    <div id="notice">
        <div class="text">
            <% if isAvailable(params[:id]) %>
                <% st = getAvailableTime(params[:id]) %>
                <div class="url"><%= link_to ''
                %></div><div class="title">
                <%= "「#{getTitleFromTimeId(st.subject_time_id)}」での出席確認を忘れないでください！
                クリックして出席を記録します。"%></div>
            <% end %>
        </div>
    </div>
    
    <div id="s_toolbar">
        <div class="text">
            <div class="url"><%= link_to '',
            subject_profile_path(params[:id]) %></div><div class="title">
            この講義について</div>
        </div>
        <% if Subject.isTeacherOfThis(params[:id], getUserId) %>
            <div class="text">
                <div class="url"><%= link_to '',
                new_subject_time_path(subject_id: params[:id]) %></div><div class="title">
                回を追加</div>
            </div>
        <% end %>
        
        <div class="text">
            <div class="url"><%= link_to ''
            %></div><div class="title">
            メンバー</div>
        </div>
        
                
        <% if Subject.isTeacherOfThis(params[:id], getUserId) %>
            <div class="text">
                <div class="url"><%= link_to '',
                attend_path(params[:id]) %></div><div class="title">
                出席の確認</div>
            </div>
        <% end %>
            
        <div class="text">
            <div class="url"><%= link_to '',
            subject_setting_path(params[:id]) %></div><div class="title">
            設定</div>
        </div>
    </div>
    
    <div>
        <% @times.each do |t| %>
            <% msg = "" %>
            <% if !t.public %>
                <% msg = "(これは非公開です。生徒からは見えません)" %>
                <% next if !Subject.isTeacherOfThis(Subject.getIdFromTime(t.id), getUserId) %>
            <% end %>
            
            <div>
                <%= "#{t.title}#{msg}" %>
            </div>
            <div>
                <% if t.public %>
                    <%= p "#{getAvailableTimeId(params[:id])} : #{t.id}" %>
                    <% if getAvailableTimeId(params[:id]) != t.id %>
                        <% if !t.check %>
                            <%= link_to '出席確認を開けます', attend_manager_index_path(id: params[:id], time: t.id), method: :post %>
                        <% else %>
                            <%= link_to '出席確認を再度開けます', attend_manager_index_path(id: params[:id], time: t.id), method: :post, data: { confirm: "過去にオープンしたことがあるようです。それでもオープンしますか？" } %>
                        <% end %>
                    <% else %>
                        <%= link_to '出席確認を閉じます', attend_manager_path(id: params[:id], time: t.id), method: :delete %>
                    <% end %>
                <% end %>
            </div>
            
            <%= Attend.getStatus(t.id, getUserId()) %>
        <% end %>
    </div>
</div>