<%= render template: "main/_header" %>
<div id="content">
    <div id="subject">
        <div class="title">
            <h1>
                <%= @subject.subject_profile.name %>
            </h1>
        </div>
    </div>
    <% if isAvailable(params[:id]) && isAvailableByUser(params[:id], getUserId) %>
        <div id="notice">
            <div class="text">
                <% st = getAvailableTime(params[:id]) %>
                <div class="url"><%= link_to '',
                attend_index_path(subject_time_id: st.subject_time_id, subject_id: params[:id]), method: :post %></div><div class="title">
                <%= "「#{getTitleFromTimeId(st.subject_time_id)}」での出席確認を忘れないでください！
                クリックして出席を記録します。"%></div>
            </div>
        </div>
    <% end %>
    
    <div id="s_toolbar">
        <div class="text">
            <div class="url"><%= link_to '',
            subject_profile_path(params[:id]) %></div><div class="title">
            この講義について</div>
        </div>
        <% if Subject.isTeacherOfThis(params[:id], getUserId) %>
            <div class="text">
                <div class="url"><%= link_to '',
                new_subject_time_path(subject_id: params[:id]) %></div><div class="title">
                回を追加</div>
            </div>
        <% end %>
        
        <div class="text">
            <div class="url"><%= link_to ''
            %></div><div class="title">
            メンバー</div>
        </div>
        
                
        <% if Subject.isTeacherOfThis(params[:id], getUserId) %>
            <div class="text">
                <div class="url"><%= link_to '',
                attend_path(params[:id]) %></div><div class="title">
                出席の確認</div>
            </div>
        <% end %>
            
        <div class="text">
            <div class="url"><%= link_to '',
            subject_setting_path(params[:id]) %></div><div class="title">
            設定</div>
        </div>
    </div>
    
    <div>
        <% @times.each do |t| %>
            <div>
                <% msg = "" %>
                <%# if !t.public %>
                <% if false %>
                    <% msg = "(これは非公開です。生徒からは見えません)" %>
                    <% next if !Subject.isTeacherOfThis(Subject.getIdFromTime(t.id), getUserId) %>
                <% end %>
                
                <div>
                    <%= "#{t.title}#{msg} #{Attend.getStatus(t.id, getUserId)}" %>
                </div>
                
                <% t.attachment.each do |file| %>
                    <div>
                        <%= link_to "ファイル: #{file.name}", attachment_path(file.id), target: :_blank %>
                        <% if Subject.isTeacherOfThis(params[:id], getUserId)%>
                            <br />
                            <%= link_to "ファイル: #{file.name} の削除", attachment_path(file.id), method: :delete %>
                        <% end %>
                        
                        <br />
                    </div>
                    <br />
                <% end %>
                
                <div>
                    <% #if t.public %>
                    <% if Subject.isTeacherOfThis(params[:id], getUserId) %>
                        <% if getAvailableTimeId(params[:id]) != t.id %>
                            <% if !t.check %>
                                <%= link_to '出席確認を開けます', attend_manager_index_path(id: params[:id], time: t.id), method: :post %>
                            <% else %>
                                <%= link_to '出席確認を再度開けます', attend_manager_index_path(id: params[:id], time: t.id), method: :post, data: { confirm: "過去にオープンしたことがあるようです。それでもオープンしますか？" } %>
                            <% end %>
                        <% else %>
                            <%= link_to '出席確認を閉じます', attend_manager_path(id: params[:id], time: t.id), method: :delete %>
                        <% end %>
                    <% end %>
                </div>
                <% if Subject.isTeacherOfThis(params[:id], getUserId) %>
                    <div>
                        <%= link_to 'ファイルを追加します', new_attachment_path(tid: t.id) %>
                    </div>
                <% end %>
            </div>
            <hr />
        <% end %>
    </div>
</div>