<h1>近畿大学福岡キャンパス</h1>
<hr>
<h2>ログイン</h2>
<%= form_tag login_login_path, method: :post do %>
<div id="login_main">
    <div id="login">
        <div class="title_text">
            ID
        </div>
        <%= text_field_tag :uid, '',  class: 'text_field' %>
        
        <div class="title_text">
            パスワード
        </div>
        <%= password_field_tag  :pass, '', class: 'text_field' %>
        
        <div class="submit">
            <%= submit_tag 'ログイン', class: 'button' %>
        </div>
    </div>
</div>

<% end %>
<p><center><%= link_to '新規の方はこちら', '/users/new' %></center></p>
 