<!DOCTYPE html>
<html>
  <head>
    <title>SMS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.2">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !isLoggedIn %>
      <% if controller_name == "users" && (action_name == "new" || action_name == "create") %>
        <%= yield %>
      <% else %>
        <%= render template: 'login/index' %>
      <% end %>
       
    <% else %>
      <%= yield %>
    <% end %>
    <%= render template: 'main/_notie' %>
    <%#= render template: 'main/_notienow' %>
  </body>
</html>
