<!DOCTYPE html>
<html>
  <head>
    <title>SMS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !isLoggedIn %>
      <% if controller_name == "users" && (action_name == "new" || action_name == "create") %>
        <%= yield %>
      <% else %>
        <%= render template: 'login/index' %>
      <% end %>
       
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
